.forme  a {
    color: white;
    
}
.forme  a:hover  {
    background-color: #3FBCFA;
    color: white;
}
.forme button:hover{
    color: white;
    background-color: #3FBCFA ;
}
.forme .question a{
    color: black;
}
.forme .question a:hover{
    color: white;
    
}
