html{
    width: 100%;
    height: 100%;
}



.forme  a {
    color: white;
    
}

.forme  a:hover  {
    background-color: #3FBCFA;
    color: aliceblue;
   
}
.forme button:hover{
    
    background-color: #3FBCFA ;
    color: aliceblue;
}
.forme .question a{
    color: black;
}
.forme .question a:hover{
    color: white;
    
}
header div .logo{
   
    display: flex;
    align-items: start;
    justify-content: start;
   
   
    
}
header .entête{
    display: flex;
    justify-content: end;
}
.don{
    background-color: #E70739;
    color: white;
    display: flex;
    justify-content: center;
    
}
.adhérer{
    background-color: #5EB6DD;
    color: white;
    
}
.don:hover{
    background-color: lightcoral;
}
.don span{
    font-weight: bold;
}
.adhérer:hover{
    background-color: #C4D7ED;
}
.adhérer span{
    font-weight: bold;
}


img{
    color: aliceblue;
}
header .titre{
    
    display: flex;
    align-items: start;
    justify-content: center;
    color: #375D81;
    
}
main .autisme28{
    text-align: center;
    background-color: whitesmoke;
    color: #375D81;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
footer{
    background-color: #375D81;
    display: flex;
    justify-content: center;




