html{
    width: 100%;
    height: 100%;
}

.forme  a {
    color: white;
    
}

.forme  a:hover  {
    background-color: #3FBCFA;
    color: aliceblue;
   
}
.forme button:hover{
    
    background-color: #3FBCFA ;
    color: aliceblue;
}
.forme .question a{
    color: black;
}
.forme .question a:hover{
    color: white;
    
}
header .logo{
   
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    
}
.don{
    background-color: #E70739;
    color: white;
    
}
.adhérer{
    background-color: goldenrod;
    color: white;
    
}
.don:hover{
    background-color: lightcoral;
}
.adhérer:hover{
    background-color: #F6E497;
}


header .titre{
    
    display: flex;
    align-items: start;
    color: #78A419;
}




