@media screen and (max-width: 576px){
    header .icons .bouton{
        display: flex;
        justify-content: space-evenly;
        margin: 0%;
    }
    .body header .entête{
        margin: 10px;
    }
  
}

@media screen and (max-width: 768px){
 

}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 1400px){
    
}